<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>Smart Farm</title>
	<link rel="stylesheet" href="../css/style.css">
	<!-- framework Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="../app.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Moment time -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

	

	<!-- Compiled and minified CSS -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"> -->
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> -->

</head>
<script>

</script>
<body ng-controller="TodoListController">
<!-- body////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- navbar -->
	<nav class="navbar navbar-default hidden-phone">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="../index.html">Smart Farm Vegetable</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="../index.html">Home</a></li>
	      <li><a href="googleSheets.html">Google Sheets</a></li>
	      <li class="active"><a href="#">Status</a></li>
	      <li><a href="picture.html">Picture</a></li>
	    </ul>
	  </div>
	</nav>

	<div style="background-color:  yellow; ">
		<!-- <button ng-click="tree(1)" class="btn btn-primary btn-xs" id="button" ng-iff="calday1 > 0">{{ (totalHole[0].status === false)?  'Add' : 'Reset'}} 1</button>
		<button ng-click="tree(1)" class="btn btn-warning btn-xs" id="button" ng-if="calday1 <= 0">Reset 1</button> -->

		<button ng-click="tree(1)" class="btn btn-primary btn-xs" id="button" ng-if="calday1 < 0">Add</button>
		<button ng-click="tree(1)" class="btn btn-success btn-xs" id="button" ng-if="calday1 >= 0 && calday1 <= 10">{{calday1}} Day <br>Reset</button>
		<button ng-click="tree(1)" class="btn btn-warning btn-xs" id="button" ng-if="calday1 >= 11 && calday1 <= 19">{{calday1}} Day <br>Reset</button>
		<button ng-click="tree(1)" class="btn btn-danger btn-xs" id="button" ng-if="calday1 >= 20">{{calday1}} Days <br>Left</button>

		<button ng-click="tree(2)" class="btn btn-primary btn-xs" id="button" ng-if="calday2 < 0">Add</button>
		<button ng-click="tree(2)" class="btn btn-success btn-xs" id="button" ng-if="calday2 >= 0 && calday2 <= 10">{{calday2}} Day <br>Reset</button>
		<button ng-click="tree(2)" class="btn btn-warning btn-xs" id="button" ng-if="calday2 >= 11 && calday2 <= 19">{{calday2}} Day <br>Reset</button>
		<button ng-click="tree(2)" class="btn btn-danger btn-xs" id="button" ng-if="calday2 >= 20">{{calday2}} Days <br>Left</button>

		<button ng-click="tree(3)" class="btn btn-primary btn-xs" id="button" ng-if="calday3 < 0">Add</button>
		<button ng-click="tree(3)" class="btn btn-success btn-xs" id="button" ng-if="calday3 >= 0 && calday3 <= 10">{{calday3}} Day <br>Reset</button>
		<button ng-click="tree(3)" class="btn btn-warning btn-xs" id="button" ng-if="calday3 >= 11 && calday3 <= 19">{{calday3}} Day <br>Reset</button>
		<button ng-click="tree(3)" class="btn btn-danger btn-xs" id="button" ng-if="calday3 >= 20">{{calday3}} Days <br>Left</button>

		<button ng-click="tree(4)" class="btn btn-primary btn-xs" id="button" ng-if="calday4 < 0">Add</button>
		<button ng-click="tree(4)" class="btn btn-success btn-xs" id="button" ng-if="calday4 >= 0 && calday4 <= 10">{{calday4}} Day <br>Reset</button>
		<button ng-click="tree(4)" class="btn btn-warning btn-xs" id="button" ng-if="calday4 >= 11 && calday4 <= 19">{{calday4}} Day <br>Reset</button>
		<button ng-click="tree(4)" class="btn btn-danger btn-xs" id="button" ng-if="calday4 >= 20">{{calday4}} Days <br>Left</button>

		<button ng-click="tree(5)" class="btn btn-primary btn-xs" id="button" ng-if="calday5 < 0">Add</button>
		<button ng-click="tree(5)" class="btn btn-success btn-xs" id="button" ng-if="calday5 >= 0 && calday5 <= 10">{{calday5}} Day <br>Reset</button>
		<button ng-click="tree(5)" class="btn btn-warning btn-xs" id="button" ng-if="calday5 >= 11 && calday5 <= 19">{{calday5}} Day <br>Reset</button>
		<button ng-click="tree(5)" class="btn btn-danger btn-xs" id="button" ng-if="calday5 >= 20">{{calday5}} Days <br>Left</button>

		<button ng-click="tree(6)" class="btn btn-primary btn-xs" id="button" ng-if="calday6 < 0">Add</button>
		<button ng-click="tree(6)" class="btn btn-success btn-xs" id="button" ng-if="calday6 >= 0 && calday6 <= 10">{{calday6}} Day <br>Reset</button>
		<button ng-click="tree(6)" class="btn btn-warning btn-xs" id="button" ng-if="calday6 >= 11 && calday6 <= 19">{{calday6}} Day <br>Reset</button>
		<button ng-click="tree(6)" class="btn btn-danger btn-xs" id="button" ng-if="calday6 >= 20">{{calday6}} Days <br>Left</button>

		<!-- <button ng-click="tree(2)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[1].status === false)?  'Add' : 'Reset'    }} 2</button>
		<button ng-click="tree(3)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[2].status === false)?  'Add' : 'Reset'    }} 3</button>
		<button ng-click="tree(4)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[3].status === false)?  'Add' : 'Reset'    }} 4</button>
		<button ng-click="tree(5)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[4].status === false)?  'Add' : 'Reset'    }} 5</button>
		<button ng-click="tree(6)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[5].status === false)?  'Add' : 'Reset'    }} 6</button>
		<br>
		<button ng-click="tree(7)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[6].status === false)?  'Add' : 'Reset'    }} 7</button>
		<button ng-click="tree(8)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[7].status === false)?  'Add' : 'Reset'    }} 8</button>
		<button ng-click="tree(9)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[8].status === false)?  'Add' : 'Reset'    }} 9</button>
		<button ng-click="tree(10)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[9].status === false)?  'Add' : 'Reset'    }} 10</button>
		<button ng-click="tree(11)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[10].status === false)?  'Add' : 'Reset'    }} 11</button>
		<button ng-click="tree(12)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[11].status === false)?  'Add' : 'Reset'    }} 12</button>
		<br>
		<button ng-click="tree(13)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[12].status === false)?  'Add' : 'Reset'    }} 13</button>
		<button ng-click="tree(14)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[13].status === false)?  'Add' : 'Reset'    }} 14</button>
		<button ng-click="tree(15)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[14].status === false)?  'Add' : 'Reset'    }} 15</button>
		<button ng-click="tree(16)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[15].status === false)?  'Add' : 'Reset'    }} 16</button>
		<button ng-click="tree(17)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[16].status === false)?  'Add' : 'Reset'    }} 17</button>
		<button ng-click="tree(18)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[17].status === false)?  'Add' : 'Reset'    }} 18</button>
		<br>
		<button ng-click="tree(19)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[18].status === false)?  'Add' : 'Reset'    }} 19</button>
		<button ng-click="tree(20)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[19].status === false)?  'Add' : 'Reset'    }} 20</button>
		<button ng-click="tree(21)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[20].status === false)?  'Add' : 'Reset'    }} 21</button>
		<button ng-click="tree(22)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[21].status === false)?  'Add' : 'Reset'    }} 22</button>
		<button ng-click="tree(23)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[22].status === false)?  'Add' : 'Reset'    }} 23</button>
		<button ng-click="tree(24)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[23].status === false)?  'Add' : 'Reset'    }} 24</button>
		<br>
		<button ng-click="tree(25)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[24].status === false)?  'Add' : 'Reset'    }} 25</button>
		<button ng-click="tree(26)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[25].status === false)?  'Add' : 'Reset'    }} 26</button>
		<button ng-click="tree(27)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[26].status === false)?  'Add' : 'Reset'    }} 27</button>
		<button ng-click="tree(28)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[27].status === false)?  'Add' : 'Reset'    }} 28</button>
		<button ng-click="tree(29)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[28].status === false)?  'Add' : 'Reset'    }} 29</button>
		<button ng-click="tree(30)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[29].status === false)?  'Add' : 'Reset'    }} 30</button>
		<br>
		<button ng-click="tree(31)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[30].status === false)?  'Add' : 'Reset'    }} 31</button>
		<button ng-click="tree(32)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[31].status === false)?  'Add' : 'Reset'    }} 32</button>
		<button ng-click="tree(33)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[32].status === false)?  'Add' : 'Reset'    }} 33</button>
		<button ng-click="tree(34)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[33].status === false)?  'Add' : 'Reset'    }} 34</button>
		<button ng-click="tree(35)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[34].status === false)?  'Add' : 'Reset'    }} 35</button>
		<button ng-click="tree(36)" class="btn btn-primary btn-xs" id="button">{{   (totalHole[35].status === false)?  'Add' : 'Reset'    }} 36</button> -->
	</div>


	<div class="row">
<!-- switch -->
		<div class="col-md-4"></div>
		<div class="col-md-5">

		<select class="form-control " ng-model="list" width="10px">
			<option>Choose for Reset</option>
			<option value="0">1</option>
			<option value="1">2</option>
			<option value="2">3</option>
			<option value="3">4</option>
			<option value="4">5</option>
		</select>

		</div>

	
		<button ng-click="reday(list)">Reset</button>
	</div>

	<!-- <div class="dropdown" >
	    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >Select Hole
	    	<span class="caret"></span>
	    </button>

	    <ul class="dropdown-menu" >
	      <li class="dropdown-header">Floor 1 Left</li>
	      		<li><a value="0">Hole 1</a></li>
	       	<li><a value="1">Hole 2</a></li>
	       	<li><a value="2">Hole 3</a></li>
	       	<li><a value="3">Hole 4</a></li>
	       	<li><a value="4">Hole 5</a></li>
	       	<li><a value="5"">Hole 6</a></li>
	      <li class="divider"></li>
	      <li class="dropdown-header">Floor 1 Right</li>
	      		<li><a href="#">Hole 1</a></li>
	       	<li><a href="#">Hole 2</a></li>
	       	<li><a href="#">Hole 3</a></li>
	       	<li><a href="#">Hole 4</a></li>
	       	<li><a href="#">Hole 5</a></li>
	       	<li><a href="#">Hole 6</a></li>
	      <li class="divider"></li>
	       <li class="dropdown-header">Floor 2 Left</li>
	      		<li><a href="#">Hole 1</a></li>
	       	<li><a href="#">Hole 2</a></li>
	       	<li><a href="#">Hole 3</a></li>
	       	<li><a href="#">Hole 4</a></li>
	       	<li><a href="#">Hole 5</a></li>
	       	<li><a href="#">Hole 6</a></li>
	      <li class="divider"></li>
	       <li class="dropdown-header">Floor 2 Right</li>
	      		<li><a href="#">Hole 1</a></li>
	       	<li><a href="#">Hole 2</a></li>
	       	<li><a href="#">Hole 3</a></li>
	       	<li><a href="#">Hole 4</a></li>
	       	<li><a href="#">Hole 5</a></li>
	       	<li><a href="#">Hole 6</a></li>
	      <li class="divider"></li>
	     	<li class="dropdown-header">Floor 3 Left</li>
	      		<li><a href="#">Hole 1</a></li>
	       	<li><a href="#">Hole 2</a></li>
	       	<li><a href="#">Hole 3</a></li>
	       	<li><a href="#">Hole 4</a></li>
	       	<li><a href="#">Hole 5</a></li>
	       	<li><a href="#">Hole 6</a></li>
	      <li class="divider"></li>
	       <li class="dropdown-header">Floor 3 Right</li>
	      		<li><a href="#">Hole 1</a></li>
	       	<li><a href="#">Hole 2</a></li>
	       	<li><a href="#">Hole 3</a></li>
	       	<li><a href="#">Hole 4</a></li>
	       	<li><a href="#">Hole 5</a></li>
	       	<li><a href="#">Hole 6</a></li>
	      <li class="divider"></li>
	    </ul>
	  </div>

	  <button ng-click="reday(list)">Reset</button> -->




	<div class="container" ng-repeat="veta in dateEndDate">
	<!-- <button ng-click="eat()" class="btn btn-default btn-lg">{{sum1}}</button> -->

		<!-- <button ng-click="eat()" class="btn btn-primary btn-lg" id="button" ng-if="countDate(veta.end) > 0">{{countDate(veta.end)}} Day</button>
		<button ng-click="reset(veta._id)" class="btn btn-warning btn-lg" id="button" ng-if="countDate(veta.end) <= 0">Reset</button> -->


<!-- 		<button ng-click="eat()" class="btn btn-primary btn-lg" id="button">{{countDate()}} Day</button> <br>
		<button ng-click="eat()" class="btn btn-primary btn-lg" id="button">{{countDate()}} Day</button> <br>
		<button ng-click="eat()" class="btn btn-primary btn-lg" id="button">{{countDate()}} Day</button> <br>
		<button ng-click="eat()" class="btn btn-primary btn-lg" id="button">{{countDate()}} Day</button> <br>
		<button ng-click="eat()" class="btn btn-primary btn-lg" id="button">{{countDate()}} Day</button> <br>
 -->
		<!-- <div ng-repeat="show in sumday1">
			{{show.end1}} -- {{show.sumday1}} <br> <hr>
		</div>

		<div ng-repeat="item in dateEndDate">
			<h1>{{item.end}}</h1>
		</div> -->
<!-- navbar -->
	</div>




<!-- body////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- <input type="date" ng-model="test555"> -->



</body>
</html>